﻿ @model List<WebStore.Models.CartItem>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section jsFooter{
    <script src="/Assets/Client/js/controller/cartController.js"></script>
}
<div class="content">
    <div class="content_top">

        <div class="clear"></div>
    </div>
    <div class="section group">
        @if (Model.Count() > 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Product Code</th>
                        <th>Name</th>
                        <th>Image</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Total Price</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.product.Id</td>
                            <td>@item.product.Name</td>
                            <td><img src="~/images/laptop.jpg" width="100" alt="Image" /></td>
                            <td><input type="number" class="txtQuantity" data-id="@item.product.Id" value="@(item.Quantity>0?item.Quantity.ToString():"0")" /></td>
                            <td>@item.product.Price.GetValueOrDefault(0).ToString("N0")</td>
                            <td>@(item.Quantity > 0 ? (item.product.Price.GetValueOrDefault(0) * item.Quantity).ToString() : "0")</td>
                            <td><a href="#" class="btn-delete" data-id="@item.product.Id">Xoa</a></td>
                        </tr>
                    }

                </tbody>
            </table>

            <button id="btnContinue">Continue</button>
            <button id="btnUpdate">Update cart</button>
            <button id="btnDeleteAll">Delete Cart</button>
            <button id="btnPayment">Payment</button>
        }
        else
        {
            <span class="alert alert-danger">No existing item in the cart</span>
        }

    </div>
</div>


