﻿@model List<WebStore.Models.CartItem>
@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="content_top">

        <div class="clear"></div>
    </div>
    <div class="section group">
        @if (Model.Count() > 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Product Code</th>
                        <th>Name</th>
                        <th>Image</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Total Price</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.product.Id</td>
                            <td>@item.product.Name</td>
                            <td><img src="~/images/laptop.jpg" width="100" alt="Image" /></td>
                            <td><input type="number" class="txtQuantity" data-id="@item.product.Id" value="@(item.Quantity>0?item.Quantity.ToString("N0"):"0")" /></td>
                            <td>@item.product.Price.GetValueOrDefault(0).ToString("N0")</td>
                            <td>@(item.Quantity > 0 ? (item.product.Price.GetValueOrDefault(0) * item.Quantity).ToString("N0") : "0")</td>
                            <td><a href="#" class="btn-delete" data-id="@item.product.Id">Xoa</a></td>
                        </tr>
                    }

                </tbody>
            </table>
        }
    </div>

    <div class="section group">
        <div class="col-md-6">
            @using (Html.BeginForm("Payment", "Cart", FormMethod.Post))
            {
                <div class="form-group">
                    <label>Order Id</label>
                    <input name="Id" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Name</label>
                    <input name="Name" class="form-control" />
                </div>
                
                <div class="form-group">
                    <label>Address</label>
                    <input name="address" class="form-control" />
                </div>
                <div class="form-group">
                    @*<label>Customer</label>*@
                    <input name="CusId" value="@(ViewBag.clientID)" type="hidden" class="form-control" />
                    
                </div>
                <button type="submit" class="btn btn-success">send order</button>
            }
        </div>
    </div>
</div>


