﻿
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section group">

    @foreach (var item in (List<WebStore.localhost.Product>)@ViewBag.Model)
    {
        <div class="col-lg-4">
            <a href="#">

                <img src="~/images/laptop.jpg" width="300" height="300" />
            </a>
            <h2>@item.Name </h2>
            <div class="price-details">
                <div class="price-number">
                    <p><span class="rupees">$ @item.Price</span></p>
                </div>
                <div class="add-cart">
                    <h4><a href="/Cart/AddItem?productId=@item.Id&quantity=1">Add TO Cart</a></h4>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    }


</div>

