﻿@model IEnumerable<WebStore.localhost.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
@{
    var message = TempData["AlertMessage"] ?? string.Empty;
}
<script type="text/javascript">
    var message = '@message';
    if (message)
        alert(message);
</script>
<p>
    @Html.ActionLink("Create New", "Insert")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Detail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IncludedVAT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CateId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr id="row_@item.Id">
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Detail)
        </td>
        <td>
            @(item.IncludedVAT? "Included VAT" : "not Included VAT");
            @*@Html.DisplayFor(modelItem => item.IncludedVAT)*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CateId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Ajax.ActionLink("Del", "Delete", new { @id = item.Id }, new AjaxOptions
                                   {
                                       Confirm = "Are you sure ?",
                                       OnComplete = "$('#row_" + @item.Id + "').remove()",
                                       HttpMethod = "Delete"
                                   })
        </td>
    </tr>
}

</table>
