﻿@using Microsoft.AspNet.Identity
@if (Session[WebStore.Common.CommonConstants.Client_SESSION] != null)
{
    using (Html.BeginForm("Logout", "ClientLogin", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + Session[WebStore.Common.CommonConstants.ClientName] + "!", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        
        <li>@Html.ActionLink("Log in", "Login", "ClientLogin", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
